*{
    margin: auto;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    width: auto;
}  
.top {
    background-color: #fef6e4;
    margin: 0rem;
    padding-bottom: 13rem;
}
h1 {
    color: #8bd3dd;
    margin-top: -4rem;
    margin-left: 1rem;
    font-size: 1rem;
}
 /* Styling the menu button */
 .menu-btn {
    position:absolute;
    z-index: 3;
    right: 23px;
    top: 26px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    color:  #fef6e4;
}
 
/* Styling the hamburger lines */
.menu-btn .btn-line {
    width: 36px;
    height: 5px;
    margin: 0 0 5px 0;
    background: lightcoral;
    transition: all 0.5s ease-out;
}

/* Adding transform to the X */
.menu-btn.close {
    transform: rotate(180deg);
    position: fixed;
}

/* Styling the three lines
    to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}
/* Styling the position of the menu icon */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
}

.menu-nav {
    background-color: #8bd3dd;
    text-align: center;
    margin-left: -32px;
    padding-right: 27px;
    padding-top: 25%;
    padding-bottom: 116%;
    font-size: 42px;
    font-weight: 800;
    line-height: 2;   
}
.menu.show {
    visibility: visible;
    z-index: 100;
}

.name {
    position: fixed;
    color: #20b6ac;
    margin-top: 24px;
    margin-left: 4px;
    font-size: 25px;    
}
/* Adding a transition delay to the
   5 items in the navigation menu */
.nav-item:nth-child(1) {
    transition-delay: 0.5s;
}

.nav-item:nth-child(2) {
    transition-delay: 0.6s;
}

.nav-item:nth-child(3) {
    transition-delay: 0.7s;
}

.nav-item:nth-child(4) {
    transition-delay: 0.8s;
}
.nav-item:nth-child(5) {
    transition-delay: 0.9s;
}
.nav-link {
    color: lightcoral;
    text-decoration: none;
}
.header {
    background-color:  #fef6e4;
    padding-top: 5rem;
 /*   box-shadow: -2px 19px 61px lightseagreen;*/
}
.intro {
     width: 23rem;
     height: 26rem; 
     clip-path: polygon(0 10%, 100% 0, 100% 82%, 0 100%);
     padding-top: 2rem;
}
.intro h1 {
    margin: 6rem 3rem;
    font-size: 4rem;
    font-size: 72px;
    background: -webkit-linear-gradient(white, #8bd3dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5rem;
}
.intro h2 {
    color: lightcoral;
    margin: -9rem 4rem;
    font-size: 4.5rem;
    background: -webkit-linear-gradient(white, #8bd3dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 1rem;
}
.left-side h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: -1rem;
    padding-left: 20px;
    margin-top: -29rem;;   
}

  
.monkey-head {
    width: 22rem;
    margin-top: -1rem;
}
.about {
    margin-top: 5rem;
    width: 23rem;
    height: 40rem; 
}
.demo a {
    color: #8bd3dd;
    padding: 10rem;
    font-size: 13px;
}
.center {
    margin-top: 5rem;
    width: 23rem;
    height: 40rem; 
    border-radius: 17%;
    clip-path: polygon(0 10%, 100% 0, 100% 82%, 0 100%);
    border-style: double;
}
.pic {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 22rem;
    height: 22rem;  
    clip-path: polygon(0 -1%, 100% 0, 100% 104%, 0 100%);
    border-radius: 65%;
    border-style: double;

}
.pic p {
    padding-top: 7rem;
    margin-left: 11rem;
    font-size: 1.5rem;
}
.about p {
    color:#20b6ac;
    margin: 1rem;
}
.box {
    padding-top: 5rem;
    margin-top: 2rem;
    width: 34%;
    border-radius: 50px;
    background: #8bd3dd;
    box-shadow: inset 20px 20px 60px #fef6e4,
                inset -20px -20px 60px #ffffff;
}
.box-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.line1 {
    height: 12vh;
    width: .5vw;
    border-width: 0;
    background-color: #20b6ac;
    margin-left: .7rem;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    margin-right: 36px;
    color: #f582ae;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: pink;
  }
  
.footer {
    background-color: #fef6e4;
    padding: 2rem;
/*    box-shadow: -2px -22px 61px lightseagreen;*/
}
.footer h1 {
    font-size: 1.5rem;
    color:#20b6ac;
}
.copyright {
    color: #f582ae;
    margin: 1rem;
}
.top2 h1 {
    font-size: 1rem;
    color: #8bd3dd;
    padding-top: 4rem;
    padding-left: 7rem;
}
.top2 a {
    text-decoration: none;
}
@keyframes chainReaction {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  
  /*div p {
	animation: chainReaction 2s;
	opacity: 0;
	animation-fill-mode: forwards;
  }*/
  
  .parallax-window .welcome-page-div {
	animation: chainReaction 5s;
	opacity: 0;
	animation-fill-mode: forwards;
	text-align: center;
	font-family: Beautiful ES;
	font-size: 30px;
	font-weight: lighter;
  }
  
  .parallax-window .welcome-page-div:nth-child(1) {
	animation-delay: .3s;
  }
  
  .parallax-window .welcome-page-div:nth-child(2) {
	animation-delay: 1s;
  }
  
  
  /*WindowOnload Fade-In*/ 

  @media (min-width: 768px) {
    .intro {
        background-image: url("forest3.jpg");
        width: 36rem;
        height: 30rem; 
        clip-path: polygon(0 10%, 100% 0, 100% 82%, 0 100%);
   }

      .intro h1 {
        color: lightcoral;
        font-size: 123px;
        background: -webkit-linear-gradient(white, #8bd3dd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 5rem;
      }
      .intro h2 {
        color: lightcoral;
        margin: -9rem 4rem;
        font-size: 7.5rem;
        background: -webkit-linear-gradient(white, #8bd3dd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 0rem;
    }
  }
