*{
    margin: auto;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    width: auto;
}  
.top {
    background-color: azure;
    margin: 0rem;
    padding-bottom: 3rem;
}
h1 {
    color: #20b6ac;
    margin: .5rem 2rem;
    font-size: 2rem;
}
 /* Styling the menu button */
 .menu-btn {
    position:absolute;
    z-index: 3;
    right: 23px;
    top: 26px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    color: #20b6ac;
}
 
/* Styling the hamburger lines */
.menu-btn .btn-line {
    width: 36px;
    height: 5px;
    margin: 0 0 5px 0;
    background: #20b6ac;
    transition: all 0.5s ease-out;
}

/* Adding transform to the X */
.menu-btn.close {
    transform: rotate(180deg);
    position: fixed;
}

/* Styling the three lines
    to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}
/* Styling the position of the menu icon */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
}

.menu-nav {
    background-color: lightblue;
    color: #20b6ac;
    text-align: center;
    margin-left: -32px;
    padding-right: 27px;
    padding-top: 25%;
    padding-bottom: 116%;
    font-size: 42px;
    font-weight: 800;
    line-height: 2;   
}
.menu.show {
    visibility: visible;
    z-index: 100;
}

.name {
    position: fixed;
    color: #20b6ac;
    margin-top: 24px;
    margin-left: 4px;
    font-size: 25px;    
}
/* Adding a transition delay to the
   5 items in the navigation menu */
.nav-item:nth-child(1) {
    transition-delay: 0.5s;
}

.nav-item:nth-child(2) {
    transition-delay: 0.6s;
}

.nav-item:nth-child(3) {
    transition-delay: 0.7s;
}

.nav-item:nth-child(4) {
    transition-delay: 0.8s;
}
.nav-item:nth-child(5) {
    transition-delay: 0.9s;
}
.nav-link {
    color: lightcoral;
    text-decoration: none;
}
.header {
    background-color: azure;
    padding-top: 1rem;
    box-shadow: -2px 19px 61px lightseagreen;
}
.intro {
     background-image: url("forest3.jpg");
     width: 23rem;
     height: 26rem; 
     clip-path: polygon(0 10%, 100% 0, 100% 82%, 0 100%);
}
.intro h1 {
    color: lightcoral;
    margin: 7rem 7rem;
    font-size: 2rem;
    padding-top: 5rem;
}
.intro p {
    color: lightcoral;
    margin: -6rem 4rem;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.about {
    margin-top: 5rem;
    width: 23rem;
    height: 40rem; 
}
.center {
    margin-top: 5rem;
    width: 23rem;
    height: 40rem; 
    border-radius: 17%;
    clip-path: polygon(0 10%, 100% 0, 100% 82%, 0 100%);
    border-style: double;
}
.pic {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 22rem;
    height: 22rem;  
    clip-path: polygon(0 -1%, 100% 0, 100% 104%, 0 100%);
    border-radius: 65%;
    border-style: double;
    
}
.pic p {
    padding-top: 7rem;
    margin-left: 11rem;
    font-size: 1.5rem;
}
.about p {
    color:#20b6ac;
    margin: 1rem;
}
.footer {
    background-color:azure;
    margin-top: 16rem;
    margin-bottom: -8rem;
    padding-top: 2rem;
    box-shadow: -2px -22px 61px lightseagreen;
}
.footer h1 {
    font-size: 1.5rem;
    color:#20b6ac;
}

